<h4 class="bg-light text-dark d-inline-block px-3 py-2 rounded ml-5 mt-3">ジャンル一覧・追加</h4>

<div class="my-4">
  <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, class: "ml-4" do |f| %>
    <div class="form-group d-flex">
      <p class="mr-4 mb-0">ジャンル名</p>
      <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control mr-4", style: "width: 300px;" %>
      <%= f.submit "変更を保存", class: "btn btn-success", style: "height: calc(2.25rem + 2px);" %>
    </div>
  <% end %>
</div>  





